body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #111;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    color: #111;
}

p, li {
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
}